@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(44, 44, 44, 0.855);
}
.nav {
  background-color: rgb(179, 108, 244);
  padding: 30px;
}
a {
  text-decoration: none;
  color: #fff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: rgb(46, 46, 46);
  position: fixed;
  height: 100%;
  max-width: 200px;
  width: 100%;
  top: 0;
  left: -100%;
  padding: 15px 10px;
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -ms-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
}
.sidebar.open {
  left: 0;
}
#barIcon {
  position: absolute;
  left: 30px;
  cursor: pointer;
}

#barIcon.change {
  left: 250px;
}

.sidebar h2 {
  padding-bottom: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.sidebar ul li {
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.sidebar ul .first {
  position: absolute;
  top: 210px;
  cursor: pointer;
  left: 190px;
}
.sidebar ul .two {
  position: absolute;
  top: 335px;
  left: 190px;
  cursor: pointer;
}

.subLinks {
  background: rgb(46, 46, 46);
  max-width: 200px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

.subLinks.appear {
  opacity: 1;
}
.sidebar.disappear {
  opacity: 0;
}

.subLinks ul li {
  padding-bottom: 30px;
  padding-top: 10px;
}

.subLinks ul .title {
  position: relative;
}

.subLinks ul i {
  position: absolute;
  left: 20px;
  top: 70px;
  cursor: pointer;
}
.subLinks .reverse {
  cursor: pointer;
}
